<form name="addACigar" novalidate>
  <h3>Add a Cigar</h3>
  <div>
    <label for="brand">Brand:</label>
    <input ng-hide="humidor.edit.brand" type="text" id="brand" ng-model="humidor.newBrand" ng-required="humidor.required.secondaryBrand"/>
    <select ng-model="humidor.brand" ng-required="humidor.required.brand" ng-change="humidor.change()">
      <option value="dontDoIt">dont choose this</option>
      <option value="other">other</option>
    </select>
  </div>
  <div>
    <label for="name">Name:</label>
    <input ng-hide="humidor.edit.name" type="text" id="name" ng-model="humidor.newName" ng-required="humidor.required.secondaryName"/>
    <select ng-model="humidor.name" ng-required="humidor.required.name" ng-change="humidor.change()">
      <option value="other">other</option>
    </select>
  </div>
  <div>
    <label for="date">Date:</label>
    <input type="date" id="date" ng-model="humidor.date" ng-required="humidor.required.always"/>
  </div>
  <div>
    <label for="picUpload">Upload pictures:</label>
    <input type="text" id="picUpload" ng-model="humidor.picUpload"/>
  </div>
  <div>
    <label for="quantity">Quantity:</label>
    <input type="number" min="0" id="quantity" ng-model="humidor.quantity" />
  </div>
  <div ng-hide="humidor.edit.more">
    <label for="size">Size:</label>
    <!-- <input type="text" min="0" id="size" ng-model="humidor.size"/> -->
    <select ng-model="humidor.size" ng-options="size.number for size in humidor.sizes">
      <option value="">- Choose a Size -</option>
    </select>
  </div>
  <div ng-hide="humidor.edit.more">
    <label for="gauge">Gauge:</label>
    <!-- <input type="text" id="gauge" ng-model="humidor.gauge" /> -->
    <select ng-model="humidor.gauge" ng-options="gauge.number for gauge in humidor.gauges">
      <option value="">- Choose a Gauge -</option>
    </select>
  </div>
  <div ng-hide="humidor.edit.more">
    <label for="origin">Origin:</label>
    <input type="text" id="origin" ng-model="humidor.origin"/>
  </div>
  <div ng-hide="humidor.edit.more">
    <label for="wrapper">Wrapper:</label>
    <input type="text" id="wrapper" ng-model="humidor.wrapper"/>
  </div>
  <div ng-hide="humidor.edit.more">
    <label for="filler">Filler:</label>
    <input type="text" id="filler" ng-model="humidor.filler"/>
  </div>
  <div ng-hide="humidor.edit.more">
    <label for="body">Body:</label>
    <input type="text" id="body" ng-model="humidor.body"/>
    <select ng-model="humidor.body">
      <option value="mild">Mild</option>
      <option value="mild-medium">Mild-medium</option>
      <option value="medium">Medium</option>
      <option value="medium-full">Medium-full</option>
      <option value="full">Full</option>
    </select>
  </div>
  <div ng-hide="humidor.edit.more">
    <label for="condition">Physical Condition:</label>
    <input type="text" id="condition" ng-model="humidor.condition"/>
  </div>
  <div ng-hide="humidor.edit.more">
    <label for="comments">Comments:</label>
    <input type="text" id="comments" ng-model="humidor.comments"/>
  </div>
  <div>
    <button ng-show="humidor.edit.less" ng-click="humidor.moreOptions(humidor.edit)">More Options</button>
    <button ng-hide="humidor.edit.more" ng-click="humidor.lessOptions(humidor.edit)">Less Options</button>
    <button ng-click="humidor.save()">Save</button>
    <button ng-click="humidor.cancel()">Cancel</button>
  </div>
</form>
