<div id="nav bar">
  <!-- button vs href looking like a button -->
  <button ng-click="hygrometer.humidor()">Humidor List</button>
  <!-- <a href="/humidor">Humidor List</a> -->
  <button ng-click="hygrometer.ratings()">Ratings List</button>
  <!-- <a href="/ratings">Ratings List</a> -->
  <button ng-click="hygrometer.hygrometer()">Hygrometer List</button>
  <!-- <a href="/hygrometer">Hygrometer List</a> -->
  <button ng-click="hygrometer.addACigar()">Add a Cigar</button>
  <!-- <a href="/humidor/addACigar">Add a Cigar</a> -->
  <button ng-click="hygrometer.addARating()">Add a Rating</button>
  <!-- <a href="/ratings/addARating">Add a Rating</a> -->
  <button ng-click="hygrometer.addAHygrometer()">Add a Hygrometer</button>
  <!-- <a href="/hygrometer/addAHygrometer">Add a Hygrometer</a> -->
  <br />
  <br />
</div>
<form>
  <div>
    <label for="name">Name: </label>
    <input type="text" ng-model="hygrometer.name" id="name" ng-required="hygrometer.required"/>
    <span id="required">* - required</span>
  </div>
  <div>
    <label for="minTemp">Minimum Temperature: </label>
    <input type="number" min="50" max="100" ng-model="hygrometer.minTemp" id="minTemp" ng-required="hygrometer.required"/>
    <span id="required">* - required</span>
  </div>
  <div>
    <label for="maxTemp">Maximum Temperature: </label>
    <input type="number" min="50" max="100" id="maxTemp" ng-model="hygrometer.maxTemp" ng-required="hygrometer.required"/>
    <span id="required">* - required</span>
  </div>
  <div>
    <label for="minHumidity">Minimum Humidity: </label>
    <input type="number" min="50" max="100" id="minHumidity" ng-model="hygrometer.minHumidity" ng-required="hygrometer.required"/>
    <span id="required">* - required</span>
  </div>
  <div>
    <label for="maxHumidity">Maximum Humidity: </label>
    <input type="number" min="50" max="100" id="maximumHumidity" ng-model="hygrometer.maxHumidity" ng-required="hygrometer.required"/>
    <span id="required">* - required</span>
  </div>
  <div>
    <label for="location">Location: </label>
    <input type="text" id="location" ng-model="hygrometer.location" ng-required="hygrometer.required"/>
    <span id="required">* - required</span>
  </div>
  <div>
    <input type="radio" name="display" value="true" ng-model="hygrometer.display"/>Display on header<br />
  </div>
  <div>
    <button ng-click="hygrometer.save()">Save</button>
    <button ng-click="hygrometer.cancel()">Cancel</button>
  </div>
</form>
