/*id = required == red*/
/*table, th, td {
   border: 1px solid black;
}*/
/*html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
 	margin: 0;
 	padding: 0;
 	border: 0;
 	font-size: 100%;
 	font: inherit;
 	vertical-align: baseline;
 }*/
body {
  background-color: rgb(128,0,0);
}

/*shades*/
/*rgb(64,0,0); shades -- darker red/maroon*/
/*rgb(229,0,0); shades -- little brighter red*/


/*triad*/
/*rgb(255,252,25); triad -- yellow*/
/*rgb(20,133,204); traid -- med blue*/
/*rgb(9,113,178); triad -- darkish blue*/

/*complementary*/
/*rgb(0,178,51); complementary -- darkish green*/
/*rgb(0,255,72); complementary -- lightish green*/

/*compound*/
/*rgb(153,61,61); compound -- shade of red almost purple*/
/*rgb(255,0,255); compound -- purpleish*/
/*rgb(197,255,64); compound -- yellow-green*/
/*rgb(204,202,20); compound -- mustard yellowish*/

/*custom*/
/*rgb(232,164,42); custom -- dark yellow*/
/*rgb(70,88,255); custom -- muted blue*/
/*prob shouldnt use the color below*/
/*rgb(124,232,0); custom -- contrasting green*/
/*maybe for lines or something below*/
/*rgb(172,255,245); custom --muted iceish blueish*/
/*rgb(0,9,79); custom --darrrrrrk blue*/


.view {
  background-color: rgb(232,164,42);
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}

h1 {
  padding-left: 10px;
  line-height: .75em;
}
/*.page-header {
 background-color: rgba(128,0,0,0.75);
 line-height: 0.5em;
}*/
